<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirect Manager</title>
  <link rel="stylesheet" href="../design/RedirectSelect.css">
  <link rel="stylesheet" href="../app/globals.css">
  <script src="../js/WebSelect.js"></script>
</head>
<body>
  <h1>Manage Redirects</h1>
  <button id="selectAll" class="button">Select All</button>
  <button id="confirm" class="button">Confirm</button>
  <table>
    <thead>
      <tr>
        <th id="Select">Select</th>
        <th>Old URL</th>
      </tr>
    </thead>
    <tbody id="linkTable">
       <!-- Dynamically populated rows -->
      </tr>
    </tbody>
  </table>
  <script src="script.js"></script>
</body>
</html>
